.boxes-alt{
    background:#f9f9f9;
}

.boxes-alt__container{
    max-width:$width;
    padding:45px 0;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.boxes-alt__header{
    color: #828282;
    font-size: 28px;
    font-weight: 400;
    line-height: 29px;
    font-family: HelveticaNeueLTStdMd, Helvetica, sans-serif;
    letter-spacing: -0.27px;
    padding:11px 0 20px 2px;
}

.boxes-alt__info{
    color: #828282;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.14px;
    padding-bottom: 20px;
}

.boxes-alt__button{
    background:#f9f9f9;
    color: #a4a4a4;
    border: 1px solid #b8b8b8;
    border-radius: 6px;
    padding: 7px 0;
    font-family: HelveticaNeueLTStdRoman, Helvetica, sans-serif;;
    font-size: 16px;
    position: relative;
    margin-right: 14px;
    span{
        position: relative;
        bottom: 1px;
        padding: 8px 11px 8px 13px;
    }
    i{
        font-size: 20px;
        padding-left: 14px;
        margin-right: - 6px;
    }
    img{
        padding-right: 13px;
    }
    cursor: pointer;
    transition:all.2s;
    &:hover{
        background:	#F0F0F0;
    }

}
.boxes-alt__box{
    padding-bottom: 16px;
}

.boxes-alt__box--2{
    padding-left: 48px;
    border-left: 1px solid#e1e1e1;
}

.boxes-alt__box--3{
    padding-left: 38px;
    border-left: 1px solid#e1e1e1;
}

.e-font{
    background-image:url(../../img/-.png);
    background-repeat:no-repeat;
    background-position:60% 26%;
}

@media screen and (max-width: 1050px){
    .boxes-alt__box{
        margin-left: 25px;
        margin-right: 25px;
        h3{
            font-size: 1.4rem;
        }
        p{
            font-size: .8rem;;
        }
    }
    .boxes-alt__box--2 .boxes-alt__button{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 950px){
    .boxes-alt__box{
        margin-left: 15px;
        margin-right: 5px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 650px){
    .boxes-alt__container{
        flex-flow: row wrap;
    }
    .boxes-alt__box{
        flex: 1 1 45%;
    }
    .boxes-alt__box--3{
        padding-top: 16px;
        border:none;
    }
}
@media screen and (max-width: 480px){
    .boxes-alt__box{
        flex: 1 1 100%;
        border: none;
        text-align:center;
    }
    .boxes-alt__box--2{
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        padding: 20px 0 10px;
    }
}